### Convert an integer to a string and concatenate it with another string

In [1]:
number = 42
text = "The answer is "
result = text + str(number)

print(result)

The answer is 42

 ### Write a program to convert a float to an integer.

In [2]:
my_float = 3.14
my_int = int(my_float)

print(my_int)

3

### Convert a list to a tuple and print the result.

In [3]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 3, 4, 5)

### Write a program that converts a string "3.14" into a float.

In [4]:
my_string = "3.14"
my_float = float(my_string)

print(my_float)

3.14

### Convert a boolean True into an integer and print the result

In [ ]:
my_bool = True
my_int = int(my_bool)

print(my_int)

### Write a program that converts a set into a list and prints both.

In [6]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)

print("Set:", my_set)
print("List:", my_list)

Set: {1, 2, 3, 4, 5}
List: [1, 2, 3, 4, 5]

### Convert a dictionaryâ€™s keys into a list and print the result.

In [7]:
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Mumbai'}
keys_list = list(my_dict.keys())

print("Dictionary keys:", keys_list)

Dictionary keys: ['name', 'age', 'city']

### Write a program to convert a number into a string with two decimal places

In [8]:
number = 3.14159
formatted_number = "{:.2f}".format(number)

print(formatted_number)

3.14